{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">

<div class="home-container">
    <div class="home-header">
        <h1>Welcome to OpenMath</h1>
        <img src="{{ url_for('static', filename='images/nobackground.png') }}" alt="OpenMath Logo" class="logo-image">
        <h2>Personalize Your Math Learning Journey</h2>
    </div>
    <div class="home-actions">
        <a href="{{ url_for('register') }}" class="btn btn-action">Register</a>
        <a href="{{ url_for('login') }}" class="btn btn-action">Log In</a>
    </div>
</div>

{% endblock %}
