{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='learn_styles.css') }}">

<div class="custom-div">
    <div class="topics-container">
        {% for topic in math_topics %}
        <div class="topic-card">
            <a href="{{ url_for('chat', topic=topic) }}">
                <img src="{{ url_for('static', filename='images/' ~ topic|lower|replace(' ', '_') ~ '.png') }}" alt="{{ topic }}">
                <h3>{{ topic }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
