{% extends "layout.html" %}

{% block title %} Usage {% endblock %}

{% block content %}

<div class="container">
    <header class="transparent-black-bg">
        <h1>Usage</h1>
    </header>
    
    <div class="transparent-black-bg">
        <p class="gradient-text">This app is crafted to assist students in learning mathematics in a personalized way. It uses advanced AI to adapt to each student's learning preferences and habits.</p>
        <p class="gradient-text">Getting started is straightforward: simply sign in, tell the chatbot about your study preferences and the mathematical topics you're interested in, and begin your learning session.</p>
        <p class="gradient-text">Remember to create an account and log in so the app can track your progress, save your learning preferences, and tailor future lessons for the most effective learning experience.</p>
    </div>
</div>

{% endblock %}
