/*Chat container styles */
.chat-container {
    width: 95%;
    margin: 20px auto;
    border: 1px solid #d0e2df;
    background-color: #f4f7f6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    min-height: 500px;
}

#chat-box {
    overflow-y: auto;
    height: 450px;
    border: 2px solid #005580;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
}

#chat-form {
    position: absolute;
    bottom: 10px;
    width: 97.8%;
    display: flex;
    padding: 0 10px;
}

#chat-form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #00796b;
    border-radius: 4px;
}

#chat-form button {
    padding: 0px 5px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

#chat-form button:hover {
    background-color: #005046;
}

.user-message, .model-response {
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin: 5px auto;
    text-align: justify;
    box-sizing: border-box;
}

.user-message {
    background-color: #dbf0f1;
    align-self: flex-end;
    text-align: left;
}

.model-response {
    background-color: #d1e8e2;
    align-self: flex-start;
    text-align: left;
}

.model-response strong {
    font-weight: bold; /* Makes text bold */
    color: #000; /* Optional: Change color */
}

.model-response em {
    font-style: italic; /* Makes text italic */
    color: #34495e; /* Optional: Change color */
}

.model-response code {
    font-family: monospace; /* Changes font to monospace for code */
    background-color: #f4f4f4; /* Light grey background */
    padding: 2px 4px; /* Padding around the code text */
    border-radius: 4px; /* Rounded corners */
    border: 1px solid #ccc; /* Light grey border */
    color: #c7254e; /* Optional: Change text color */
}

.model-response p {
    margin-bottom: 10px; /* Adjust spacing between paragraphs */
}

.chat-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.chat-table th, .chat-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.chat-table th {
    background-color: #f4f4f4;
}

.chat-table td {
    background-color: #fff;
}
