.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    background: linear-gradient(-45deg, #00c6ff, #2be68f);
    background-size: 100% 100%;
    animation: gradientBackground 15s ease infinite;
    color: white;
    font-family: 'Arial', sans-serif;
}

.home-header {
    margin-bottom: 30px;
}

.logo-image {
    width: 512px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    /* font-weight: 600; */
    font-style: italic;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

.home-actions {
    display: flex;
    gap: 20px; /* Space between buttons */
}

.btn {
    text-decoration: none;
    color: white;
    background: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
}

.btn-action {
    font-size: 1.2rem; /* Larger font for important actions */
    padding: 12px 24px; /* Slightly larger padding */
}

.btn:hover {
    background: #0056b3; /* Darker shade on hover */
}

@media (max-width: 600px) {
    .home-actions {
        flex-direction: column;
    }

    .btn-action {
        width: 100%; /* Full width buttons on small screens */
    }
}
