.learn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.learn-container h1 {
    color: #003366;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

#search-input {
    width: 80%;
    padding: 10px;
    border: 2px solid #4a90e2;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #4a90e2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    outline: none;
}

#search-button:hover {
    background-color: #326985;
}

.topics-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    justify-items: center;
}

.topic-card {
    border: 1px solid #4a90e2;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(4, 111, 137, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: #1e4356;
    color: #ffffff;
    width: 100%;
    max-width: 200px;
}

.topic-card:hover {
    transform: scale(1.10);
    border-color: #326985;
}

.topic-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.topic-card h3 {
    margin: 0;
    padding: 15px;
    background-color: #5394e0;
    color: #ffffff;
}

.topic-card a {
    text-decoration: none;
    color: inherit;
}
