/* FILEPATH: /Users/dani/Documents/cs50/Image-Captioning-app-web/static/styles.css */

header h1 {
    font-size: 70px;
    font-weight: 600;
    border-radius: 8px;
    background: transparent;
    background-image: linear-gradient(to left, #fa2323, #ffd20b, #efefef); /* Orange to green gradient */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    backdrop-filter: blur(8px);
  }

  .transparent-black-bg {
    background-color: rgba(76, 76, 76, 0.5); /* Black with 50% opacity */
    color: white; /* Ensures text is light on the dark background */
    text-align: center; /* Center text */
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    /*: url('./img_placeholder.png') no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    backdrop-filter: blur(5px);
    background-size: cover;
  }
  
  .navbar {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .nav-links {
    list-style: none; /* Remove list bullets */
    display: flex; /* Make the nav links to display inline */
    justify-content: center; /* Horizontally center the navbar links */
    align-items: center; /* Center the navbar links vertically */
  }
  
  .nav-links li {
    padding: 0 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #e0e0e0;
  }

  .form-control {
    width: 50%; /* Adjust this value as needed to make the inputs narrower */
    margin: 0 auto; /* This will center the input if it's a block element */
  }

  .custom-div {
    max-width: 500px; /* this is the width of the div */
    margin: 0 auto; /* this will center the div */
    border-radius: 10px; /* this will give the div rounded corners */
    border: 2px solid white; /* this will give the div a 2px white border */
    background: transparent; /* this will give the div a transparent background */
    backdrop-filter: blur(8px);  /* this will give the div a blur effect */
    text-align: center; /* this will center the text in the div */
  }

  .custom-div h1, .custom-div label{
    background: linear-gradient(to left, #fa2723, #ff950b, #000000); /* Orange to green gradient */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Makes the text itself transparent, showing the background */
  }

  .gradient-text {
    background: linear-gradient(to left, #fa2323, #ffa10b, #000000); /* Yellow to green gradient */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Makes the text itself transparent, showing the background */
  }

  .logo-image {
    max-width: 100%; /* Limit image width to its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Needed to apply auto margins */
    margin: 0 auto; /* Center the image horizontally */
  }

  .home-image {
    max-width: 5%; /* Limit image width to its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Needed to apply auto margins */
    margin: 0 auto; /* Center the image horizontally */
  }

  /* Chatbot styling */

  .chat-container {
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    min-height: 500px;
  }
  #chat-box {
      margin-bottom: 50px;
      overflow: auto;
      height: 400px;
      border: 1px solid #000;
      padding: 10px;
  }
  #chat-form {
      position: absolute;
      bottom: 10px;
      width: 100%;
  }
  .user-message, .model-response {
      padding: 5px;
      border-radius: 5px;
  }
  .user-message {
      background-color: #daf8cb;
      margin-right: 50%;
  }
  .model-response {
      background-color: #f1f0f0;
      margin-left: 50%;
  }
